@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nano-regular';
  src: url(./assets/fonts/Nuckle-Medium.woff);
}

@font-face {
  font-family: 'nano-light';
  src: url(./assets/fonts/Nuckle-Light.woff);
}
@font-face {
  font-family: 'nano-semibold';
  src: url(./assets/fonts/Melodrama-Regular.woff);
}
@font-face {
  font-family: 'nano-bold';
  src: url(./assets/fonts/Nuckle-Bold.woff);
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Courier New', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}
body {
  @apply bg-nano-dark;
  @apply text-nano-light;
}
.text-semi {
  font-family: 'nano-semibold';
}
.text-bold {
  font-family: 'nano-bold';
}
.text-sans {
  font-family: 'DM Sans';
}
div {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
h3 {
  line-height: 38.5px;
}
button:disabled {
  opacity: 0.5
}