@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nano-regular';
  src: url(./assets/fonts/Nuckle-Medium.woff);
}

@font-face {
  font-family: 'nano-light';
  src: url(./assets/fonts/Nuckle-Light.woff);
}
@font-face {
  font-family: 'nano-semibold';
  src: url(./assets/fonts/Melodrama-Regular.woff);
}
@font-face {
  font-family: 'nano-bold';
  src: url(./assets/fonts/Nuckle-Bold.woff);
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Courier New', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}
body {
  @apply bg-nano-dark;
  @apply text-nano-light;
}
.text-semi {
  font-family: 'nano-semibold';
}
.text-bold {
  font-family: 'nano-bold';
}